<!DOCTYPE html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>GREYRALLY | Admin</title>
<link rel="stylesheet" href="/css/font-awesome.min.css" />
<link rel="stylesheet" href="/admin/css/perfect-scrollbar.min.css" />
<link rel="stylesheet" href="/admin/css/style.css"/>
<link rel="shortcut icon" href="/images/favicon.png"/>

<!-- Datatable -->
<link rel="stylesheet" type="text/css" href="/admin/css/datatables.min.css">
<!-- ========= -->

</head>
<body>
  <div class=" container-scroller">
    <!--Navbar-->
    <% include ./navbar.ejs %>
    <!--End navbar-->
    <div class="container-fluid">
    <div class="row row-offcanvas row-offcanvas-right">
    <!-- SIDEBAR STARTS -->
    <% include ./slidebar.ejs %>
    <!-- SIDEBAR ENDS -->
      <div class="content-wrapper">
        <h3 class="text-primary mb-4">Dashboard</h3>
        <% include ./header.ejs %>
        <div class="card">
          <div class="card-block">
            <h5 class="card-title mb-4">Auction Stats </h5>
            <table id="aucionStats" class="display" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th>Auction</th>
                  <th>Buyer</th>
                  <th>Seller</th>
                  <th>Buyout Price</th>
                  <th>Action</th>
                  <th>Transaction status</th>
                  <th>Date Time</th>
                </tr>
              </thead>

            </table>
          </div>
        </div>

      </div>
      <!-- begin::Footer -->
      <% include ./footer.ejs %>
      <!-- end::Footer -->
    </div>
  </div>
<script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/admin/js/perfect-scrollbar.jquery.min.js"></script>
<script type="text/javascript" src="/admin/js/off-canvas.js"></script>
<script type="text/javascript" src="/admin/js/hoverable-collapse.js"></script>
<script type="text/javascript" src="/admin/js/misc.js"></script>
<script type="text/javascript" src="/admin/js/maps.js"></script>
<script type="text/javascript" src="/admin/js/datatables.min.js"></script>

<script type="text/javascript">
  $(document).ready(function() {
    $('#aucionStats').DataTable( {
      "processing": true,
      "serverSide": true,
      "ajax": {
        url: "/admin/auctions/auctionStats",
        type: "post"
      },
      "columns": [
        {
          "data": "auction",
          render: function ( data, type, row ) {
            return '<a href="/admin/auctions/'+row.auction+'/details">'+row.auction+'</a>';
          },
        },
        {
          "data": "awardedTo",
          render: function ( data, type, row ) {
            return '<a href="/admin/users/'+row.awardedTo+'/profile">'+row.awardedTo+'</a>';
          },
        },
        {
          "data": "auctionCreatedBy",
          render: function ( data, type, row ) {
            return '<a href="/admin/users/'+row.auctionCreatedBy+'/profile">'+row.auctionCreatedBy+'</a>';
          },
        },
        {
          "data": "finalAmmount",
          "searchable": false,
        },
        {
          "data": "adminApproved",
          "searchable": false,
          render: function ( data, type, row ) {
            if(row.adminApproved == 1 ) {
              return '<span class="badge badge-warning">Confirmed</span>';
            } else {
              return '<a href="/admin/auctions/'+ row.auction +'/transactions/confirm" class="btn btn-sm btn-success">confirm</a>';
            }
          },
        },
        {
          "data": "status",
          "searchable": false,
          render: function ( data, type, row ) {
            if(row.status == 1 ) {
              return '<span class="badge badge-success">Transferred</span>';
            } else {
              return '<span class="badge badge-info">Pending</span>';
            }
          },
        },
        {
          "data": "createdAt",
          "searchable": false
        },
      ],
    });
  });
</script>

</body>
</html>
