<!DOCTYPE html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>GREYRALLY | Admin</title>
<link rel="stylesheet" href="/css/font-awesome.min.css" />
<link rel="stylesheet" href="/admin/css/perfect-scrollbar.min.css" />
<link rel="stylesheet" href="/admin/css/style.css"/>
<link rel="shortcut icon" href="/images/favicon.png"/>

</head>
<body>
  <div class=" container-scroller">
    <!--Navbar-->
    <% include ./navbar.ejs %>
    <!--End navbar-->
    <div class="container-fluid">
    <div class="row row-offcanvas row-offcanvas-right">
    <!-- SIDEBAR STARTS -->
    <% include ./slidebar.ejs %>
    <!-- SIDEBAR ENDS -->
      <div class="content-wrapper">
        <h3 class="text-primary mb-4">Dashboard</h3>
        <% include ./header.ejs %>
        <div class="card">
          <div class="card-block">
            <h5 class="card-title mb-4">Admin - Change Password </h5>
            <div class="row">
              <div class="col-md-6">
                <form method="post" action="/admin/change-password" data-parsley-excluded="input[type=button], input[type=submit], input[type=reset], input[type=checkbox], input[type=hidden], [disabled], :hidden" data-parsley-trigger="keyup" autocomplete="off" data-parsley-validate role="form">
                  <% if (err.length || success.length) { %>
                    <% if(err.length) { %>
                      <div class="alert alert-danger"><%= err %></div>
                    <% } else if(success.length) { %>
                      <div class="alert alert-success"><%= success %></div>
                    <% } else { %>
                      <div> </div>
                    <% } %>
                  <% } %>
                  <div class="form-group">
                    <div>
                      Old Password*
                    </div>
                    <div class="input-group">
                      <!-- <span class="input-group-addon">Old Password</span> -->
                      <input type="password" name="old_pwd" class="form-control p_input" placeholder="old password" data-parsley-errors-container=".errorspanpassinput" data-parsley-required="">
                    </div>
                    <span class="errorspanpassinput"></span>
                  </div>
                  <div>
                    New Password*
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <input type="password" name="new_pwd" id="password1" class="form-control p_input" placeholder="new password"  data-parsley-errors-container=".errorspannewpassinput" data-parsley-required="">
                    </div>
                    <span class="errorspannewpassinput"></span>
                  </div>
                  <div>
                    Confirm New Password*
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <input type="password" name="cnf_pwd" class="form-control p_input" id="password2" placeholder="confirm new password" data-parsley-errors-container=".errorspanconfirmnewpassinput" data-parsley-required-message="Please re-enter your new password." data-parsley-equalto="#password1" data-parsley-required="">
                    </div>
                    <span class="errorspanconfirmnewpassinput"></span>
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- begin::Footer -->
      <% include ./footer.ejs %>
      <!-- end::Footer -->
    </div>
  </div>
<script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/admin/js/perfect-scrollbar.jquery.min.js"></script>
<script type="text/javascript" src="/admin/js/off-canvas.js"></script>
<script type="text/javascript" src="/admin/js/hoverable-collapse.js"></script>
<script type="text/javascript" src="/admin/js/misc.js"></script>
<script type="text/javascript" src="/admin/js/maps.js"></script>
<script type="text/javascript" src="/js/parsley.js"></script>

</body>
</html>
