<div class="row">
  <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6 mb-4">
    <div class="card">
      <div class="card-block">
        <a href="/admin/users">
          <h4 class="card-title font-weight-normal text-success">
            Users
          </h4>
        </a>
      </div>
    </div>
  </div>
  <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6 mb-4">
    <div class="card">
      <div class="card-block">
        <a href="/admin/auctions">
          <h4 class="card-title font-weight-normal text-warning">
            Auctions
          </h4>
        </a>
      </div>
    </div>
  </div>
  <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6 mb-4">
    <div class="card">
      <div class="card-block">
        <a href="/admin/auctions/bids">
          <h4 class="card-title font-weight-normal text-info">
            Bids
          </h4>
        </a>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
    <div class="card">
      <div class="card-block">
        <a href="/admin/auctions/stats">
          <h4 class="card-title font-weight-normal text-danger">
            Auction - Stats
          </h4>
        </a>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
    <div class="card">
      <div class="card-block">
        <a href="/admin/transactions">
          <h4 class="card-title font-weight-normal text-info">
            Transactions
          </h4>
        </a>
      </div>
    </div>
  </div>
</div>
