  <!--Navbar-->
  <nav class="navbar bg-primary-gradient col-lg-12 col-12 p-0 fixed-top navbar-inverse d-flex flex-row">
    <div class="bg-darklogo text-center navbar-brand-wrapper"> <a class="navbar-brand brand-logo" href="#"><img src="/admin/images/logo-greyrally.png" /></a> <a class="navbar-brand brand-logo-mini" href="#"><img src="/admin/images/logo-greyrally-icon.png" alt=""></a> </div>
    <div class="navbar-menu-wrapper d-flex align-items-center">
      <button class="navbar-toggler navbar-toggler hidden-md-down align-self-center mr-3" type="button" data-toggle="minimize"> <span class="navbar-toggler-icon"></span> </button>
      <!-- <form class="form-inline mt-2 mt-md-0 hidden-md-down">
        <input class="form-control mr-sm-2 search" type="text" placeholder="Search">
      </form> -->
      <ul class="navbar-nav ml-lg-auto d-flex align-items-center flex-row">
        <li class="nav-item customdropdown dropdown">
          <a class="nav-link profile-pic dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#"><img class="rounded-circle" src="/admin/images/lisa.jpg" alt=""></a>
            <div class="dropdown-menu show" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/admin/change-password">Change Password</a>
          <a class="dropdown-item" href="/admin/settings">Setting</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/admin/logout">Logout</a>
        </div>
        </li>

      </ul>
      <button class="navbar-toggler navbar-toggler-right hidden-lg-up align-self-center" type="button" data-toggle="offcanvas"> <span class="navbar-toggler-icon"></span> </button>
    </div>
  </nav>
  <!--End navbar-->
