<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>GRAYRALLY</title>
  <link rel="stylesheet" href="/admin/css/style.css" />
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="shortcut icon" href="/img/favicon.png" />
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid">
      <div class="row">
        <div class="content-wrapper full-page-wrapper d-flex align-items-center text-center error-page">
          <div class="col-lg-6 offset-lg-3">
            <h1 class="display-1"></h1> //dumb
            <h2>You don't have enough balance to Bid/Buy on this auction!</h2>
            <a href="/"> <button class="btn btn-primary mt-5">Back to home</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/js/jquery-1.11.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</body>
</html>
