<header class="m-grid__item m-header head-bck " data-minimize-mobile-offset="200" data-minimize-offset="200">
    <div class="m-container m-container--fluid m-container--full-height">
      <div class="m-stack m-stack--ver m-stack--desktop">
        <!-- BEGIN: Brand -->

        <div class="m-stack__item m-brand m-brand--skin-dark">
          <div class="m-stack m-stack--ver m-stack--general">
            <div class="m-stack__item m-stack__item--middle m-stack__item--center m-brand__logo"> <a class="m-brand__logo-wrapper" href="/"><img alt="" src="/img/logo.png"></a> </div>
            <div class="m-stack__item m-stack__item--middle m-brand__tools">
              <!-- BEGIN: Responsive Header Menu Toggler -->
              <a class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-tablet-and-mobile-inline-block" href="javascript:;" id="m_aside_header_menu_mobile_toggle"><span></span></a> <!-- END -->
            </div>
          </div>
        </div>

        <!-- END: Brand -->

        <div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav">
          <!-- BEGIN: Horizontal Menu -->
          <button class="m-aside-header-menu-mobile-close m-aside-header-menu-mobile-close--skin-dark" id="m_aside_header_menu_mobile_close_btn"><i class="la la-close"></i></button>
          <div class="m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile--offcanvas m-header-menu--skin-light m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-dark m-aside-header-menu-mobile--submenu-skin-dark" id="m_header_menu">
            <ul class="m-menu__nav m-menu__nav--submenu-arrow">
              <li class="search-main test m-nav__item m-dropdown m-dropdown--large m-dropdown--arrow    m-dropdown--align-center m-dropdown--mobile-full-width m-dropdown--skin-light m-list-search m-list-search--skin-light" data-dropdown-persistent="true" data-dropdown-toggle="click" data-search-type="dropdown" id="m_quicksearch"> <a class="m-nav__link m-dropdown__toggle" href="#"> <span class="m-nav__link-icon"> <img alt="" src="/img/Search_icon_32x32.png"></span>
                <input autocomplete="off" autofill="off" id="m_quicksearch_input" class="search-input" placeholder="Search Auctions"/>
                </a> </li>
            </ul>
          </div>
          <div class="m-topbar m-stack m-stack--ver m-stack--general" id="m_header_topbar">
  <div class="m-stack__item m-topbar__nav-wrapper h-right">
    <ul class="m-topbar__nav m-nav m-nav--inline">
      <li class="landing_about_link m-nav__item m-topbar__user-profile m-topbar__user-profile--img m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light second-link" data-dropdown-toggle="click"> <a class="m-nav__link " href="/about-us"><span class="m-topbar__userpic" style="color:white" > About</span></a> </li>
      <li class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light second-link" data-dropdown-toggle="click"> <a class="m-nav__link landing-link "
      href="/login" style="color:white"><span class="m-topbar__userpic"
      style="   border-radius: 6px;    padding: 5px;    line-height: 2px;"> Log in | Sign Up</span></a> </li>
          </ul>
  </div>
</div>
        </div>
      </div>



    </div>
  </header>
<script src="/js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/suggestion-box.js"></script>
<script type="text/javascript" src="/js/common/search.js"></script>
