.about-header {
    padding-top: 30px;
}

.about-us {
    color: #F7921A;
}

.about-us-subtitle{
    font-size: 14px;
    font-style: italic;
    display: block;
}

.about-us-wrapper {
    background-color: #fff;
    border-radius: 6px;
    padding-bottom: 10px;
}
