/**Footer overrides for smaller pages without enough data to push the footer to the bottom
* this should be fixed
*/

footer {
    position: absolute;
    width:100%;
    bottom:0;
}

.PGP-header-wrapper{
    padding-top: 30px;
    color: #F7921A;
}

.PGP-wrapper{
    background-color: #fff;
    border-radius: 6px;
    padding-bottom: 10px;
}