<html>
<head>
<title>
<IE>
</title>
</head>
<body>
<div><p><span>Due to the extra time required to attempt making this site functional for IE users, those users using IE will pay double the commission rate regardless of any other factor. Additionally, in some cases there will still be site functions or areas that do not work correctly for IE users. Some of them will never be fixed, and some may be denied outright to the user. </span></p></div>
</body>
</html
