<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Tim added for SEO -->
<meta name="description" content="GreyRally. Transparency in vulnerability equities. Early Access" />
<title>GreyRally: Pre-Launch Signup</title>
<meta name="robots" content="noarchive" />
<meta name="googlebot" content="noarchive" />
<meta name="google" content="nositelinkssearchbox" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!-- CSS-->
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/form-elements.css">
<link rel="stylesheet" href="/css/style.css">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries-->
<!-- WARNING: Respond.js doesn't work if you view the page via file://-->
<!--if lt IE 9
    script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    -->
<!-- Favicon and touch icons-->
<link rel="shortcut icon" href="img/favicon.png">
</head>
<body class="tsplash-bg">
<!-- Top content-->
<div class="top-content">
  <div class="inner-bg">
    <div class="container splash-main">
      <div class="row ">
        <div class="col-sm-2 col-sm-offset-2 text-left sp-logo"> <!--  <img alt="" src="/img/splash-logo.jpg"> -->
<img src="img/logoi.png" /> </div>
        <div class="col-sm-6 text-left">
          <h2>The world's first open, transparent <br />
            vulnerability market is coming soon </h2>
        </div>
        <div class="col-sm-9 col-sm-offset-1">
          <hr>
        </div>
      </div>
      <div class="row ">
        <div class="col-sm-7 col-sm-offset-2 text-center thank_you_page">
          <h3>You’re on the inside!</h3>
          <p>Thanks! Just sit tight. We’ll be in touch soon. </p>


        </div>

      </div>
    </div>
  </div>
<footer class="footer-splash">
        <p><span style="font-size:1.1em;vertical-align:middle;" id="copyyear">2018</span><span style="font-size:2em;vertical-align:middle;" id="copylitho">©</span><span id="copyname">GREYRALLY</span><span style="position:absolute;right:50px;font-size:1.5em;"><a href="https://greyrally.com/blog/meet-the-team/">TEAM</a></span>
</p>
<p><span id="toslink" style="font-size:1em;"><a href="https://greyrally.com/blog/terms-of-service/">Terms of Service</a></span></p>

  </footer>
</div>
</body>
</html>
