<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Terms of Service</title>
    <!-- CSS-->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/tos.css">
    <link rel="stylesheet" href="/css/globalStyles.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
      crossorigin="anonymous">

    <link rel="shortcut icon" href="img/favicon.png">
  </head>

  <body>
    <% include ../new-header.ejs %>
      <div class="container mb-5">
        <div class="row tos-header">
          <div class="mr-auto">
            <h3>TERMS OF SERVICE</h3>
          </div>
        </div>
        <div class="row tos-wrapper h-100 p-3">
          <h3>TERMS OF SERVICE</h3>
          <p>
            This Agreement and all policies posted on our sites set out the terms on which GREYRALLY offers you access to and use of
            our site, services, tools (collectively "Services"). The entity that you are contracting with is GREYRALLY, LLC,
            a limited liability company registered in the State of California. These terms of service constitute a contract
            between you and this site. Be advised that any violation of these terms, or the laws of your local jurisdiction,
            will constitute a breach of contract and GREYRALLY may terminate your use of this site and forfeiture of your account.
            These terms govern how disputed will be resolved, so please read them and send questions to
            <a href="mailto:admin@greyrally.com">admin@greyrally.com</a>.
          </p>
          <br/>
          <h3>ABOUT GREYRALLY </h3>
          <p>
            GREYRALLY is a site dedicated to disrupting vulnerability disclosure. The market for research and subsequent "bug bounties"
            is fundamentally broken, which leads to continued harm of innocent users. By bringing the price of disclosure up
            to market rates, GREYRALLY promotes cybersecurity for business, government, and private citizens's collective protection.
          </p>
          <br/>
          <h3>USE OF THIS SITE</h3>
          <p>
            in using the site, you affirm that you are of legal age of majority of the jurisdiction in which you live that you are able
            to make and enforce contracts, and that you are the legal owner of anything you put up for sale. You will also
            warrant that you not use this site to buy of sell items that are illegal where you live, or which violate the laws
            of the United Stated, Including the state in which you live. You will not falsely manipulate the price of any item
            of this site, spam, post malicious or libelous content, distribute viruses that harm the interests of site users,
            interfere with GREYRALLY services of availability, or otherwise infringe on the intellectual property of third
            parties of GREYRALLY (including harvesting or robots to harvest GREYRALLY accounts of information.) You will not
            use GREYRALLY to communicate with third parties and conduct sales by other means.
          </p>
          <br/>
          <h3> FESS </h3>
          <p>
            We hold all sales until the auction closes at which point it delivered to the winner, upon payment. A transaction fee of
            10% is applied to call transaction. This will be automatically charged during the escrow process.
          </p>
          <br/>
          <h3>HOLDS</h3>
          <p>
            During and following sale, in order to ensure that payment processing is complete, any cryptocurrency patents will not be
            confirmed until blockchain length is confirmed by six or more blocks. Sales may be held for a reasonable period
            of time to permit reasonable inspection for terms of service violation.
          </p>
          <br/>
          <h3>NOTE THAT THE FOLLOWING ARE PROHIBITED FROM SALE:</h3>
          <p>
            Any software or device that could be used to defeat DRM (Digital Rights Management ) technology, or any exploit that could
            be easily converted to defeat DRM, in any form, whatsoever, or any other software that violates the DMCA; and any
            software or exploit that could be used to intercept active communications; and any software that can be used to
            illicitly access stored communications; and/or any software or exploits that violate any other laws of the jurisdiction
            in which you reside or which violates the laws of the state of California or any federal laws of the United Stated
            of America.
          </p>
          <br/>
          <h3>ALSO PROHIBITED</h3>
          <p>
            Pornographic or violent media; and stolen items, personal data, illicitly obtained date. illicitly intercepted or stored
            communications, or anything that violates the copyrights of your country: and any work for hire; and firearms,
            prohibited substances, and any otherwise objectionable material, including clear attempt to circumvent these terms
            of service.
          </p>
          <br/>
          <p>
            <b>THIS SITE AND ANYTHING YOU PURCHASE ON IT ARE OFFERED "AS-IS THERE IS NOT REPRESENTATION OR WARRANTY OF ANY KIND,
              INCLUDING BUT NOT LIMITED TO MERCHANTABILITY, FITNESS FOR ANY PARTICULAR PURPOSE, OR FUNCTIONLITY. ALTHOUGH GREYRALLY
              MAKES ALL AVAILABLE EFFORTS TO ENSURE THAT ITS SELLERS AND THE PURCHASE MADE THEREIN ARE FOR IMPROVING SECURITY
              AND INFRANSTRUCTURE, GREYRALLY TAKES NO RESPONSIBILITY FOR THE ULTIMATE RESULTS OR PRODUCTS. GREYRALLY EXPRESSLY
              DICLAIMS ALL RESPONSIBILITY FOR THE ILLEGAL ACTIONS TAKEN BY ANY PURCHASER. </b>
          </p>
          <br/>
          <p> An offer to buy is not a guarantee that any sale will occur, if your bid is the highest (or your request to buy.)
            you may still not receive a product if the seller violates the terms of service, produces an incomplete or illegal
            product, or if your purchasing information cannot be verified. By making a bid, you represent and warrant that
            you have a legitimate interest in the item for sale, that you will not use anything purchased or learned for illegal
            purposes, including reverse engineering through copyright protection; unauthorized access to networks, computers
            or systems; interception or access of live or stored communications; or any other illicit purpose/ You also warrant
            that you are not using any means to deceptively obfuscate your country of origin or take any other measures to
            defeat GREYRALLY'S systems and terms of service that are designed to ensure that only authorized users may access
            and use the site.
          </p>
          <br/>
          <p> During and following sale, in order to ensure that payment processing is complete, any crypto currency payments will
            not be confirmed until the blockchain length is confirmed by six or more blocks.
          </p>
          <br/>
          <p>IF YOU VIOLATE THESE TERMS, or if GREYRALLY has reason to believe that you have violated these terms, your account
            will be deactivated. Any funds attached to your account or held in escrow care of your account will be liquidated,
            and you waive all venue and jurisdiction for damages or claims against such funds.
          </p>
          <p>Any dispute of these terms or their enforcement will be via binding arbitration with a registered arbitration panel
            in a venue of GREYRALLY's choosing. You indemnify GREYRALLY against loss from any thir party, including any communication
            or damages arising from of this site.
          </p>

        </div>
      </div>

      <% include ../footer.ejs %>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
          crossorigin="anonymous"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="/js/common/common.js" type="text/javascript"></script>
  </body>

</html>