<!DOCTYPE html>
<html lang="en" >
<!-- begin::Head -->
<head>
<meta charset="utf-8" />
<title>GREYRALLY</title>
<meta name="description" content="Latest updates and statistic charts">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">

<link href="/css/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />
<link href="/css/suggestion-box.css" rel="stylesheet" type="text/css">

<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/globalStyles.css">
<link rel="stylesheet" href="/css/aboutUs.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
<!--end::Font CSS -->

<link rel="shortcut icon" href="/img/favicon.png" sizes="16*16" />
</head>

<body>
  <% include ../new-header.ejs %>
    <div class="container mb-5">
      <div class="row about-header">
        <div class="mr-auto">
          <h1 class="about-us">ABOUT GREYRALLY <span class="about-us-subtitle">The worlds first open, transparent vulnerability market.</span></h1>
        </div>
      </div>
      <div class="row about-us-wrapper h-100 mt-3">
        <div class="col-md-4 mt-2"><h2>WHAT IS GREYRALLY?</h2></div>
        <div class="col-md-8 mt-2">
          <p>GREYRALLY provides the opportunity to buy and sell vulnerabilities and zero-days anonymously. <br />
          <br />
          Often the buying and selling of vulnerabilities are completed through brokers and the dark web. We use transparency to enable market forces to dictate pricing and notification. <br />
          <br />
          What sets us apart is that we review the vulnerabilities to help determine authenticity and security ranking. We act as a middleman to connect those who find exploits to those who should fix
          them. We hold all payloads until the auction closes at which point upon payment it is delivered to the winner. All auctions are buyer beware, so get comfortable with the purchase before you buy.</p>
        </div>
        
        <div class="col-md-4 mt-4"><h2>WHY DO IT?</h2></div>
        <div class="col-md-8 mt-4"><p>To rally means to “recover in health,
          spirits, or poise.” We provide companies
          the opportunity to purchase security
          vulnerabilities that would be otherwise
          made available on the dark web. At the
          same time, we feel that those who find
          vulnerabilities should be rewarded for
          their work.</p>
        </div>
        <div class="col-md-4 mt-4"><h2>SECURITY</h2></div>
        <div class="col-md-8 mt-4"><p>We suggest using TOR and/or a VPN to
          transact on GREYRALLY. Transactions are
          anonymous, including the use of
          crytocurrency as a payment method.</p></div>
      </div>
    </div>
  <% include ../footer.ejs %>

<!-- end:: Page -->
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/common/common.js"></script>
</body>
<!-- end::Body -->
</html>
