<html lang="en" class="gr__greyrally_com"><head>
<meta charset="utf-8">
<title>GREYRALLY</title>
<meta name="description" content="Latest updates and statistic charts">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script type="text/javascript">
//<![CDATA[
window.__cfRocketOptions = {byc:0,p:0,petok:"55d05cfaab73eddb23bf353ca57ad62fd8b4a565-1524259721-1800"};
//]]>
</script>
<script type="text/javascript" src="https://ajax.cloudflare.com/cdn-cgi/scripts/935cb224/cloudflare-static/rocket.min.js"></script>
<script type="text/rocketscript" data-rocketoptimized="true">
//<![CDATA[
window.__cfRocketOptions = {byc:0,p:0,petok:"af77352513fd8991c97e39c8880b995aaf166d36-1524258468-1800"};
//]]>
</script>
<script type="text/rocketscript" data-rocketsrc="https://ajax.cloudflare.com/cdn-cgi/scripts/935cb224/cloudflare-static/rocket.min.js" data-rocketoptimized="true"></script>
<script type="text/rocketscript" data-rocketsrc="https://ajax.cloudflare.com/cdn-cgi/scripts/935cb224/cloudflare-static/rocket.min.js" data-rocketoptimized="true"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
<link href="/css/fullcalendar.bundle.css" rel="stylesheet" type="text/css">
<link href="/css/suggestion-box.css" rel="stylesheet" type="text/css">
<link href="/css/style.bundle.css" rel="stylesheet" type="text/css">
<link href="/css/reset.css" rel="stylesheet" type="text/css">
<link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="shortcut icon" href="/img/favicon.png" sizes="16*16">
</head>
<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--fixed m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default" data-gr-c-s-loaded="true">
<script data-rocketsrc="/js/jquery-1.11.1.min.js" type="text/rocketscript" data-rocketoptimized="true"></script>
<header class="m-grid__item m-header head-bck " data-minimize-mobile-offset="200" data-minimize-offset="200">
<div class="m-container m-container--fluid m-container--full-height">
<div class="m-stack m-stack--ver m-stack--desktop">
<div class="m-stack__item m-brand m-brand--skin-dark">
<div class="m-stack m-stack--ver m-stack--general">
<div class="m-stack__item m-stack__item--middle m-stack__item--center m-brand__logo"> <a class="m-brand__logo-wrapper" href="/"><img alt="" src="/img/logo.png"></a> </div>
<div class="m-stack__item m-stack__item--middle m-brand__tools">
</div>
</div>
</div>
</div>
</div>
</header>
<div class="m-grid m-grid--hor m-grid--root m-page">
<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
<button class="m-aside-left-close m-aside-left-close--skin-dark" id="m_aside_left_close_btn"><i class="la la-close"></i></button>
<div class="m-grid__item m-grid__item--fluid m-wrapper">
<div class="m-subheader ">
<div class="d-flex align-items-center">
<div class="mr-auto">
<h3 class="m-subheader__title ">THE TEAM</h3>
</div>
</div>
</div>
<div class="col-xl-12">
<div class="m-portlet m-portlet--mobile ap-custom mt-4">
<div class="m-portlet__body team-page">
<div class="row mt20">
<div class="col-sm-6">
<div class="main-img"><img alt="" src="/img/team1.jpg"> </div>
<div class="main-text">
<h2>Ray Cotton - Founder</h2>
<p>When not chasing his three year old daughter, <br>
Ray is doing security stuff or reading.</p>
</div>
</div>
<div class="col-sm-6">
<div class="main-img"><img alt="" src="/img/team3.jpg"> </div>
<div class="main-text">
<h2>Tim Johnston - Co-Founder </h2>
<p>Former NSA spook. Exploitation analyst. Pusheen lover. Mandarin
linguist. Dogecoin enthusiast. ULC reverend.
Circuit queen. 5-time burner.</p>
</div>
</div>
</div>
<div class="row mt20">
<div class="col-sm-6">
<div class="main-img"><img alt="" src="/img/team4.jpg"> </div>
<div class="main-text">
<h2>James Rolfe - Head of Engineering</h2>
<p>James enjoys minified javascript and
parallelizable processes. When not learning
with machines, he tries to break them.</p>
</div>
</div>
<div class="col-sm-6">
<div class="main-img"><img alt="" src="/img/team2.jpg"> </div>
<div class="main-text">
<h2>Ian Sharping - Corporate Council </h2>
<p>Ian works to keep the company out of the gutter.</p>
</div>
</div>
</div>
<div class="row mt20">
<div class="col-sm-6">
<div class="main-img"><img alt="" src="/img/team5.jpg"> </div>
<div class="main-text">
<h2>Matt Sharpe - Head of Design</h2>
<p>Matt has three college degrees, at least two of
which are relevant. He is fueled by snobby
coffee and kale and has a weird love of
grammar and semantics.</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<footer style="max-height:80px;" class="m-grid__item m-footer">
<div class="" style="max-height:100px;">
<div class="m-stack--desktop">
<div class="m-stack__item m-stack__item--left m-stack__item--middle ">
<span class="m-footer__copyright" style="color: #E1E1E1">2018 © GREYRALLY</span>
<!-- <span class="inner-link" style="margin-top: 2px; margin-bottom: 2px;"> <a style="color: #E1E1E1" href="/terms-conditions">Terms of Service</a></span> -->
<!--<span class="inner-link"> <a style="color: #E1E1E1" href="/policy">Privacy Policy</a></span>-->
</div>
</div>
</div>
</footer>
</div>
<script type="text/rocketscript" data-rocketsrc="/js/jquery-1.11.1.min.js" data-rocketoptimized="true"></script>
<script type="text/rocketscript" data-rocketsrc="/js/bootstrap.min.js" data-rocketoptimized="true"></script>
<script type="text/rocketscript" data-rocketsrc="/js/common/scripts.bundle.js" data-rocketoptimized="true"></script>
<script type="text/rocketscript" data-rocketsrc="/js/common/common.js" data-rocketoptimized="true"></script>
<div id="suggestion-box" style="position: absolute; left: -50px; top: 109px;"></div>

</body></html>
